@import "tailwindcss";

@theme {
		/* COLORES PERSONALIZADOS */
		--color-primary: #06f9f9;
		--color-primary-dark: #04d1d1;
		--color-secondary: #334155;
		
		--color-background-light: #f8fafc;
		--color-background-dark: #0f172a;
		
		--color-slate-dark: #1e293b;
		--color-slate-muted: #64748b;
		
		--color-brand-dark: #343d4e;
		--color-brand-blue: #38b6ff;

		/* FUENTES */
		--font-display: "Manrope", sans-serif;

		/* IMÁGENES DE FONDO (PATRONES) */
		--background-image-grid-pattern: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h40v40H0V0zm1 1h38v38H1V1z' fill='%23e2e8f0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	}

	/* Configuración Manual de Dark Mode (Clase) para v4 */
	/* Esto fuerza a que 'dark:' funcione cuando la clase .dark está presente en html */
	@variant dark (&:where(.dark, .dark *));