---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
export const prerender = true;
---

<Layout title="Inventory System - JKE Solutions">
  <Header />
  <main class="flex-grow flex flex-col items-center w-full">
    <Hero />
    <Features />
    <HowItWorks />
    <Pricing />
    <FAQ />
  </main>
  <Footer />
</Layout>
